<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--参数说明：-->
		<!--AnyWayIp,表示测量的功率分析仪地址-->
		<!--台位1：192.168.1.98,台位2：192.168.1.98,台位3：192.168.1.98，台位4：192.168.1.96-->
		<!--输入功率：-->
		<!--台位1：192-168-1-98-600,台位2：192-168-1-98-601,台位3：192-168-1-98-602，台位4：192-168-1-96-600-->
		<!--电压：-->
		<!--台位1：192-168-1-98-576,台位2：192-168-1-98-577,台位3：192-168-1-98-578，台位4：192-168-1-96-576-->
		<!--电压：-->
		<!--台位1：192-168-1-98-584,台位2：192-168-1-98-585,台位3：192-168-1-98-586，台位4：192-168-1-96-584-->
    <!--功率因素：-->
    <!--台位1：192-168-1-98-592,台位2：192-168-1-98-593,台位3：192-168-1-98-594，台位4：192-168-1-96-592-->

    <add key="阀门串口" value="COM1"/>
		<add key="AnyWayIp" value="192.168.1.98"/>
		<add key="输入功率" value="192-168-1-98-601"/>
		<add key="电压" value="192-168-1-98-577"/>
		<add key="电流" value="192-168-1-98-585"/>
    <add key="功率因素" value="192-168-1-98-593"/>
		<!--组参数说明：台位1：1,2,3;台位2:4,5,6;台位3：7,8,9;台位4：10,11,12-->
		<add key="组1" value="4"/>	
		<add key="组2" value="5"/>
		<add key="组3" value="6"/>
        <add key="刷新保存" value="允许"/>   <!--可以选择允许或者禁止-->
        <add key="泵类型" value="非矿用"/>   <!--矿用，非矿用-->
        <add key="DBServer" value="127.0.0.1,1433\SQLEXPRESS"/>   <!--数据库服务器-->
		<add key="DBName" value="KQRE_DB"/>
		<add key="USER" value="sa"/>
		<add key="PASS" value="1234"/>
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
